li{
    list-style: none;
    display: flex;
    flex-direction: row;
    max-height: 30px;
    padding: 15px;

}

/*
img.TodoState{
    height: 18px;
    vertical-align: middle;
    margin: 0;
}


img.todoStateActive{
    background-image: url("../../public/iconTodo/circle.png");
    background-size: contain;
}

img.todoStateInactive{
    background-image: url("../../public/iconTodo/check.png");
    background-size: contain;
}
*/

p{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

/* Se respeta el orden CSS cuando hay diferentes clases que editan la misma propiedad del elemento html. 
    Para este ejemplo, por defecto debe ir la clase Activa y se reemplaza el estilo sólo de aquellas 
    inactivas (las tareas que ya fueron completadas)

*/

p.todoStateActive{
    color: black
}

p.todoStateInactive{
    color:lightpink
}


