.TodoForm-form{
    max-width: 300px;
    width: 80%;
    height: 35%;
    background-color: rgb(209, 223, 129);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 5px;
}

.TodoForm-h1{
    color: purple;
}

.TodoForm-textarea{
    width: 80%;
    height: 90px;
    resize: none;
    text-align: justify;
    color: blue;
    border-color: purple;
}

textarea:focus{
    outline-color: aqua;
}

.TodoForm-buttonContenedor{
    max-width: 100%;
    width: 80%;
    padding-top: 15px;
}

.TodoForm-button{
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    max-width: 100%;
    width: 40%;
    border: none;
    margin: 3px;
}

.TodoForm-button--add{
    background-color:rgb(96, 218, 177);
    color: rgb(3, 54, 70);
}

.TodoForm-button--add:hover {
    background-color:rgb(8, 148, 101);
    color: rgb(231, 247, 20);
    font-weight: bold;
}

.TodoForm-button--cancel{
    background-color:darkgray;
    color: lightgrey
}

.TodoForm-button--cancel:hover{
    background-color:black;
    color: white;
}